/* GENERAL */

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* COMPUTER NAV */
nav, 
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
}

@font-face {
  font-family: 'StarJedi';
  src: url('assets/Starjedi.ttf') format('truetype');
}

.logo {
  font-size: 2rem;
  color: white;
  font-family: 'StarJedi';
}

.logo:hover {
  cursor: default;
}

/* TYPING ANIMATION */

.typing-container {
  height: 20vh;
  display: grid;
  place-items: center;
  gap: 2rem;
}

h1 {
  overflow: hidden;
  border-right: .10em solid white;
  color: white;
  white-space: nowrap;
  letter-spacing: .15em;
  width: 24ch;
  animation: typing 2s steps(24), blink-caret .5s step-end infinite alternate;
  font-size: 40px;
}

.arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-icon {
  height: 50px;
  transition: all .5s ease;
}

.arrow-icon:hover {
  transform: scale(1.2)
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65vh;
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  50% { border-color: transparent }
}

.about-box {
  border: white 3px;
}

/* HAMBURGER MENU */

#mobile-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: white;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  /* background-color: white; */
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

#profile {
  display: flex;
  justify-content: center;
}

body {
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  /* overflow: hidden; */
}

/* ABOUT */

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-container {
  background-color: white;
  width: 100%;
  height: 80%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center
}

.about-header {
  display: flex;
  height: 40%;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.about-me {
  font-size: 60px;
  text-align: center;
  font-family: StarJedi;
  color: #0d1d31;
}

.about-description {
  text-align: center;
  color: #0d1d31;
  font-size: 25px;
  padding: 0 5rem;
}

.about-logos {
  display: flex;
  height: 70px;
  width: 300px;
  border: 3px solid #0d1d31;
  border-radius: 40px;
  align-items: center;
  justify-content: space-around;
}

.about-image {
  height: 45px;
  transition: transform 0.3s ease;
}

.about-image:hover {
  transform: scale(1.2);
}

/* PROJECT */

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-container {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  min-width: 358px;
  margin: auto;
  height: 80%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  height: 100%;
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  border: 4px solid #ccc;
  color: black;
}

.project img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.project:hover img {
  transform: scale(1.1);
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .5s ease;
  padding: 20px;
  box-sizing: border-box;
}

.project:hover .project-overlay {
  opacity: 1;
}

.project-overlay h3 {
  font-size: 1.6rem;
  margin-bottom: 10px;
  color: #0d1d31;
  font-family: StarJedi;
}

.project-overlay p {
  font-size: 1.1rem;
  text-align: center;
  color: #0d1d31;
}

.project-image {
  width: fit-content;
}

.project-links {
  color: black;
}

/* CONTACT */

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-container {
  background-color: white;
  width: 100%;
  height: 80%;
  border-radius: 10px;
  display: flex;
}

.contact-half-one {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.contact-half-two {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
}

.contact-me {
  color:#EB212E;
  font-family: StarJedi;
  display: flex;
  align-items: center;
  height: 40%;
  justify-content: center;
  font-size: 40px;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #EB212E, 0 0 40px #e60073, 0 0 50px #EB212E, 0 0 60px #EB212E, 0 0 70px #EB212E;
}

.contact-pic {
  max-height: 60%;
  max-width: 100%;
  margin-top: auto;
}

.info-container {
  height: 200px;
  width: 65%;
  margin-top: 4rem;
  border: 3px solid #0d1d31;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.info {
  color: #0d1d31;
  display: flex;
  gap: 3rem;
  padding: 0 20px;
  font-size: 18px;
}

.contact-info {
  border: 3px solid #0d1d31;
  border-radius: 30px;
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 5rem;
}

.contact-text {
  color: #0d1d31
}

/* FOOTER */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}

/* STARS */

.stars {
  position: fixed;
  z-index: -1;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  --star-color: silver;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 5.11em;
  --top-offset: 78.32vh;
  --fall-duration: 9.102s;
  --fall-delay: 1.287s;
}
.star:nth-child(2) {
  --star-tail-length: 6.32em;
  --top-offset: 64.85vh;
  --fall-duration: 10.331s;
  --fall-delay: 2.241s;
}
.star:nth-child(3) {
  --star-tail-length: 5.72em;
  --top-offset: 61.11vh;
  --fall-duration: 9.488s;
  --fall-delay: 9.464s;
}
.star:nth-child(4) {
  --star-tail-length: 5.41em;
  --top-offset: 14.16vh;
  --fall-duration: 8.392s;
  --fall-delay: 2.147s;
}
.star:nth-child(5) {
  --star-tail-length: 6.52em;
  --top-offset: 40.24vh;
  --fall-duration: 10.856s;
  --fall-delay: 1.723s;
}
.star:nth-child(6) {
  --star-tail-length: 5.28em;
  --top-offset: 41.63vh;
  --fall-duration: 6.023s;
  --fall-delay: 1.891s;
} 

.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}/*# sourceMappingURL=style.css.map */

