* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  min-height: 290vh;
  background: #424242;
  color: white
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: #424242;
    width: 100%;
}

h1, nav {
    margin: 15px 12rem;
    font-size: 30px;
    color: white;
}

.nav-links {
    display: flex;
    gap: 25px;
}

a {
    text-decoration: unset;
    color: white;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: .5rem;
    color: black;
    text-decoration-color: black;
}

main {
    display: flex;
    flex-direction: column;
}

#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    min-height: 100vh;
}

.intro {
    font-size: 50px;
    color: white;
}

.searchbar {
    display: flex;
    margin-bottom: 10rem;
    align-items: center;
    gap: 20px;
    border: 2px solid white;
    border-radius: 50px;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    background-color: white;
}

#about {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h2 {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    font-size: 50px;
}

.about-container {
    display: flex;
    gap: 100px;
    margin: auto;
}

.profile-pic {
    height: 400px;
    width: 400px;
}

.about-info {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    width: 600px;
}

.logos {
    display: flex;
    background-color: white;
    width: 320px;
    justify-content: space-around;
    border-radius: 40px;
    height: 60px;
    align-items: center;
}

#projects {
    min-height: 100vh;
}

#search-text {
    font-size: 40px;
    color: black;
}

.projects-container {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    justify-content: space-around;
    align-items: center;
}

.project-container {
    display: flex;
    width: 700px;
    gap: 30px;
}

.project-description {
    align-content: center;
}

.project-image {
    transition: 0.3s
}

.project-image:hover {
    transform: translateY(-15px);
    opacity: 1.5;
}

h3 {
    font-size: 25px;
    color: white;
    text-decoration: underline;
    text-underline-offset: .5rem;
}